aiofiles==22.1.0
altgraph==0.17.3
anyio==3.6.2
appdirs==1.4.4
aspose-words==22.11.0
asttokens==2.1.0
async-timeout==4.0.2
aubio==0.4.9
audioread==3.0.0
backcall==0.2.0
better-profanity==0.7.0
blinker==1.8.2
Brotli==1.0.9
cachetools==5.2.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
ci-info==0.3.0
click==8.1.3
colorama==0.4.6
configobj==5.0.6
configparser==5.3.0
contourpy==1.0.7
cv==1.0.0
cycler==0.11.0
Cython==0.29.32
debugpy==1.6.3
decorator==4.4.2
deprecation==2.1.0
diffusers==0.11.1
docx==0.2.4
docx2pdf==0.1.8
docxedit==1.0.1
entrypoints==0.4
et-xmlfile==1.1.0
etelemetry==0.3.0
executing==1.2.0
fastrlock==0.8.1
ffmpeg-python==0.2.0
filelock==3.8.2
fire==0.5.0
Flask==3.0.3
fonttools==4.39.4
fpdf==1.7.2
frontend==0.0.3
ftfy==6.1.1
future==0.18.2
google-api-core==2.11.0
google-api-python-client==2.69.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.7.1
googleapis-common-protos==1.57.0
gsheets==0.6.1
h11==0.14.0
httplib2==0.21.0
huggingface-hub==0.11.1
idna==3.4
imageio==2.31.1
imageio-ffmpeg==0.4.9
importlib-metadata==5.2.0
ipykernel==6.17.1
ipython==8.6.0
iso8601==2.1.0
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpickle==3.0.1
jupyter_client==7.4.7
jupyter_core==5.0.0
keyboard==0.13.5
kiwisolver==1.4.4
lazy_loader==0.2
librosa==0.10.0.post2
llvmlite==0.40.0
looseversion==1.0.2
lora-diffusion==0.0.6
lxml==4.9.1
madmom==0.16.1
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mido==1.2.10
mir-eval==0.7
more-itertools==9.1.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.2.1
msgpack==1.0.5
music21==8.3.0
mutagen==1.46.0
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==2.8.8
nibabel==4.0.2
nipype==1.8.5
numba==0.57.0
numpy==1.23.5
oauth2client==4.1.3
oauthlib==3.2.2
openai-whisper @ git+https://github.com/openai/whisper.git@25639fc17ddc013d56c594bfbf7644f2185fad84
opencv-python==4.6.0.66
openpyxl==3.0.10
packaging==21.3
panda==0.3.1
pandas==1.5.2
parso==0.8.3
pdfminer==20191125
pefile==2023.2.7
pickleshare==0.7.5
pikepdf==6.2.5
Pillow==9.3.0
playsound==1.3.0
pooch==1.6.0
proglog==0.1.10
prompt-toolkit==3.0.33
protobuf==4.21.11
prov==2.0.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.14
PyAutoGUI==0.9.53
pycparser==2.21
pycryptodome==3.16.0
pycryptodomex==3.17
pydot==1.4.2
pydub==0.25.1
pygame==2.5.1
PyGetWindow==0.0.9
Pygments==2.13.0
pyinstaller==5.9.0
pyinstaller-hooks-contrib==2023.2
PyMsgBox==1.0.9
PyMuPDF==1.21.0
pyparsing==3.0.9
PyPDF2==2.12.1
PyPDF4==1.27.0
pyperclip==1.8.2
pyPS4Controller==1.2.5
PyRect==0.2.0
PyScreeze==0.1.28
pyserial==3.5
pytesseract==0.3.10
python-dateutil==2.8.2
python-docx==0.8.11
python-osc==1.8.0
python-xmp-toolkit==2.0.1
pytube==15.0.0
pytubefix==8.1.1
pytweening==1.0.4
pytz==2022.6
pywin32==305
pywin32-ctypes==0.2.0
pywinusb==0.4.2
pyxnat==1.5
PyYAML==6.0
pyzmq==24.0.1
rdflib==6.2.0
redis==4.5.1
regex==2022.10.31
requests==2.32.3
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.2.2
scipy==1.9.3
serial==0.0.97
simpleaudio==1.0.4
simplejson==3.18.0
six==1.16.0
sniffio==1.3.0
sounddevice==0.4.6
soundfile==0.12.1
soxr==0.3.5
SpeechRecognition==3.10.4
spotipy==2.22.1
stack-data==0.6.1
starlette==0.23.1
svgpathtools==1.6.1
svgwrite==1.4.3
sympy==1.11.1
termcolor==2.1.1
tesseract==0.1.3
threadpoolctl==3.1.0
tiktoken==0.8.0
tk==0.1.0
tokenizers==0.13.2
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
tornado==6.2
tqdm==4.64.1
traitlets==5.5.0
traits==6.3.2
transformers==4.25.1
typing_extensions==4.4.0
unreal==0.1.1
uritemplate==4.1.1
urllib3==2.2.2
uvicorn==0.20.0
Wave==0.0.2
wcwidth==0.2.5
webcolors==1.13
websockets==12.0
Werkzeug==3.0.4
wordcloud==1.9.2
xlrd==2.0.1
yt-dlp==2024.7.25
zipp==3.11.0
